# Machine Learning Engineer Nanodegree
## Capstone Project
## Financial Time Series Prediction via Machine Learning

The aim of this project is to explore various machine learning techniques as an attempt to predict Hang Seng index 1-day price movement. 

43 global exchange indices will be used as features, and to predict Hang Seng indices next day movement direction (Up/Down/Neutral). The data in obtained from FactSet Terminal. Data starts from 1st Jan 2010 up to 30th June 2017.

## Loading the data

First, lets load the data and the required libraries

In [8]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib

#Visuals display
%matplotlib inline

#Load the index data
raw_data = pd.read_csv('index_data.csv')
raw_data.head() #Display first 5 raws

,Date,Hang Seng Index,SSE Composite Index,ASX All Ordinaries,India S&P BSE SENSEX,TOPIX,KOSPI Composite Index,Taiwan TAIEX,FTSE Bursa Malaysia KLCI,FTSE Straits Times Index,...,S&P 500,DJ Industrial Average,Colombia IGBC,Canada S&P/TSX Composite,Brazil Bovespa Index,Mexico IPC,Israel TA-125,Saudi Arabia All Share (TASI),FTSE JSE All Share,Abu Dhabi Securities Exchange
0,20100101,21872.50,3277.139,4882.7,17464.81,907.59,1682.77,8188.11,1272.78,2897.62,...,1115.100,10428.05,11602.14,11746.11,68588.41,32120.47,1064.98,6121.76,27666.45,2743.61
1,20100104,21823.28,3243.760,4889.8,17558.73,915.75,1696.14,8207.85,1275.75,2894.55,...,1132.990,10583.96,11641.37,11866.90,70045.08,32758.53,1089.34,6201.76,27895.19,2758.09
2,20100105,22279.58,3282.179,4939.5,17686.24,919.57,1690.62,8211.40,1288.24,2920.28,...,1136.520,10572.02,11628.92,11888.08,70239.82,32732.76,1098.20,6239.10,27998.87,2774.50
3,20100106,22416.67,3254.215,4946.8,17701.13,931.13,1705.32,8327.62,1293.17,2930.49,...,1137.140,10573.68,11626.59,11944.54,70729.34,32830.16,1098.31,6260.90,28080.36,2766.53
4,20100107,22269.45,3192.776,4930.5,17615.72,931.85,1683.45,8237.42,1291.42,2913.25,...,1141.695,10606.86,11594.89,11887.51,70451.12,33064.57,1094.04,6260.90,28017.81,2775.50

## Exploratory Data Analysis

First is to have some high-level understanding of the data. This is to evaluate whether the data is suitable to be used as an input to the machine learning algorithm directly, or any preprocessing is needed.